.App {
  text-align: center;
}

.header {
  border: 2px solid red;
  margin: calc(1rem + 1vw);
  background-color: #ff000040;
}

.album-list {
  border: 2px solid gold;
  margin: calc(1rem + 1vw);
  background-color: #ffc00030;
}

 .album-card {
  border: 2px solid gray;
  margin: calc(1rem + 1vw);
  background-color: #eee;
 }

 .album-title {
  text-transform: uppercase;
  color: #605040;
 }

 a {
  text-decoration: none;
  color: inherit;
 }